<!DOCTYPE HTML>
<html>
<head>
  <title><%= @title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
  <h3>Welcome to Dwitter!</h3>

  <h4>What are you doing?</h4>
  <form>
    <textarea placeholder="Just sippin'"></textarea>
    <button>Dwit</button>
  </form>
</body>
</html>
